<body>
  <div class="boxi">

    {{> nav}}

    <div>
      {{#if mobile}}
        {{#if connected}}
          {{> data}}
        {{/if}}
      {{else}}
        <!--{{> search}} -->
      {{/if}}
    </div>

    <div class="data">
      {{#if mobile}}
        {{#if dis}}
          {{> details}}
        {{/if}}
      {{else}}
        {{> topics}}
      {{/if}}
    </div>

    {{#if mobile}}
      {{> refresh}}
    {{/if}}
  </div>
</body>