<template name="data">
  <li class="def">
    <button class="connect">Connect</button>
  
    <span class="text"><strong>{{name}}</strong></span>
    <span class="text">{{id}}</span>
  </li>
</template>