<template name="details">
	<div id="detailPage" class="details">
		<!-- {{#each data}}
			<div id="{{tag_id}}"><canvas id="{{can_id}}" width="400" height="300"></canvas>hi<br /></div>
		{{/each}} -->
		<div id="accelerometer">Accelerometer<br /><canvas id="acc_c" width="500" height="300"></canvas></div>
		<div id="gyrometer">Gyrometer<br /><canvas id="gy_c" width="500" height="300"></canvas></div>
		<div id="magnetometer">Magnetometer<br /><canvas id="mag_c" width="500" height="300"></canvas></div>
		<div id="barometer">Barometer<br /><canvas id="bar_c" width="500" height="300"></canvas></div>
		<div id="optical">Optical Sensor<br /><canvas id="opt_c" width="500" height="300"></canvas></div>
		<div id="buttonstate">BS<br /><canvas id="bs_c" width="500" height="300"></canvas></div>
		<div id="ir">Ir<br /><canvas id="ir_c" width="500" height="300"></canvas></div>
		<div id="humidity">Humidity<br /><canvas id="hum_c" width="500" height="300"></canvas></div>
	</div>
</template>