<template name="refresh">
  <div class="row-fluid">
    <div class="neeche text-center">
      <button class="scan btn btn-large">{{#if dis}}Disconnect{{else}}Scan{{/if}}</button>
    </div>
  </div>
</template>