/* CSS declarations go here */
body {
    font-family: "Helvetica Neue";
    font-weight: lighter;
    color: #2a2a2a;
    background-color: #ffffff;
    
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    padding: 0;
    padding-top: 70px;
    margin: 0;

    font-size: 14px;

    -webkit-appearance: none;  
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0); 
    
    -webkit-touch-callout: none; 
    -webkit-user-select: none;
}

.details {
  overflow: scroll;
}

.data {
  margin-bottom: 50px;
}

.neeche {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  margin-bottom: 0px;
  height: 50px;
}

.boxi {
  margin: 0 auto;
  min-height: 100%;
  background: white;
}

.connect {
  float: right;
  font-weight: bold;
  background: none;
  font-size: 1em;
  border: none;
  position: relative;
}

.def {
  position: relative;
  list-style: none;
  padding: 15px;
  border-bottom: #eee solid 1px;
}

.text {
  margin-left: 10px;
}

@media (max-width: 980px) {
  body {
    padding-top: 70px;
  }
}